/* Main CSS file */
.flex{
    display: flex;
}

 
.lowOpacity{
    opacity: 0.5;
}
 
.main{
    display: flex;
    flex-direction: column;
    background: #fff;
    z-index: 5;
}
canvas{
    margin-left: 60px;
    z-index: -100;
        
}
@keyframes rightFadeInOut {
    0% {
        margin-left: -50px;
        opacity: 0;
    }
      
    75% { 
        opacity: 0.7;
          
    }
      
    100% {
        opacity: 1;
    }
}
@keyframes btnScale {
    0% {
        opacity: 1;
    }
    
    50% { 
        opacity: 0;
        transform: scale(0.9);
    }
      
    100% {
        opacity: 1;
    }
}
h1{
    font-size: 22px;
    padding-left: 110px;
    font-weight: 300;
    margin-top: 30px;
    z-index: 100;
}
    
.second{
    margin-top: -10px;
    padding-left: 110px;
    font-size: 18px;
    z-index: 11;
}
.sidebar{
    height: 100vh;
    min-width: 260px;
    background: #000;
}
.bg-img{
    height: 100vh;
    background-image: url('../pendulum.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    filter: blur(30px) brightness(60%);
    -webkit-filter: blur(44px)  brightness(70%)   
}
.sidebarBtns{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
    
.airSim{
    display: flex;
    align-items: center;
    width: 260px;
    padding-top: 35px;
    height: 0px;
    margin-bottom: 20px;
    
}

.airSim:hover{
    background: rgb(73, 73, 73);
}
.airSim:active{
    background: rgb(73, 73, 73);
}
.drop{
    margin-top: -44px;
    margin-right: 29px;
    margin-left: 16px;
    animation-name: rightFadeInOut;
    animation-duration: 3s;
}
    
.wind{
    margin-top: -40px;
    margin-right: 29px;
    margin-left: 16px;
    z-index: 10;
    animation-name: rightFadeInOut;
    animation-duration: 3s;
}
    
.airbtn{
    color: rgb(255, 255, 255);
    margin-top: -20px;
    padding-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    animation-name: rightFadeInOut;
    animation-duration: 2s;
}
    
p{
    margin-top: -7px;
}
.sidebarInputs{
    display: flex;
    flex-direction: column;
    z-index: 2;
    animation-name: rightFadeInOut;
    animation-duration: 3s;
    margin-top: -30px;
}
label{
    color: #fff;
    margin-left: 16px;
    font-size: 12px;
    margin-bottom: 1px;
    animation-name: rightFadeInOut;
    animation-duration: 3s;
    width: 160px;
}

input{
    margin-left: 16px;
    height: 20px;
    width: 155px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.493);
    color: #fff;
    border: 1px solid gray;
    border-radius: 2px;
}
input::placeholder{
    color: #fff;
    font-size: 16px;
}

.warnP{
    color: #fff;
    font-size: 12px;
    width: 160px;
    margin-left: 16px;
}

.borders{
    width: 446px;
    margin-left: 157px;
    border-left: 2px solid rgb(85, 85, 85);
    border-right: 2px solid rgb(85, 85, 85);
    height: 72px;
    margin-bottom: 33px;
    margin-top: -107px;
}

.cm{
    width: 450px;
    margin-left: 157px;
    margin-top: -35px;
    z-index: 11;
}
    
.timer{
    margin-left: 333px;
    text-align: center;
    margin-top: 20px;
    color: white;
    background: #00779F;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
    
.timerSpan{
    font-size: 24px;
    padding-top: 35px;
}
.reloadAndStartDiv{
    margin-left: 331px;
    display: flex;
    margin-top: -70px;
}
.reload{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #00779F;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 120;
    margin-left: -46px;
}
.reload:focus{
    animation-name: btnScale;
    animation-duration: 1s;
}

.startBtn{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #00779F;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 106px;
    
    z-index: 120;
}
.startBtn:focus{
    animation-name: btnScale;
    animation-duration: 1s;
}
.waterDiv{
    height: 105px;
    margin-top: -105px;
    width: 445px; 
    margin-left: 160px;
    background: rgba(69, 170, 252, 0.377);
    clip-path: polygon(0 0, 100% 0, 100% 66%, 91% 76%, 86% 84%, 48% 108%, 24% 92%, 7% 77%, 0 67%);
    z-index: 100;
}
.kerosinDiv{
    height: 105px;
    margin-top: -105px;
    width: 445px; 
    margin-left: 160px;
    background: rgba(245, 241, 0, 0.363);
    clip-path: polygon(0 0, 100% 0, 100% 66%, 91% 76%, 86% 84%, 48% 108%, 24% 92%, 7% 77%, 0 67%);
    z-index: 100;
}

.numbersDiv{
     display: flex;
     margin-left: 233px;
     z-index: 100;
 }

 .p2{
    margin-top: -75px;
    font-size:22px;
    margin-left: -44px;
 }
 .p3{
    margin-top: -65px;
    font-size:22px;
    margin-left: 20px;
 }
 .p4{
    margin-top: -58px;
    font-size:22px;
    margin-left: 28px;
 }
 .p5{
    margin-top: -50px;
    font-size:22px;
    margin-left: 24px;
 }
 .p6{
    margin-top: -47px;
    font-size:22px;
    margin-left: 27px;
 }
 .p7{
    margin-top: -4px;
    font-size: 24px;
    margin-left: 27.5px;
    font-weight: bold;
 }
 .p8{
    margin-top: -47px;
    font-size: 22px;
    margin-left: 27.5px;
 }
 .p9{
    margin-top: -65px;
    font-size:22px;
    margin-left: 25px;
 }
 .p12{
    margin-top: -75px;
    font-size:22px;
    margin-left: 28px;
 }
 
.triangle{
    background: rgb(143, 143, 143);
    z-index: -50;
    width: 80px;
    height: 0px;
    margin-left: 342px;
    margin-bottom: -37px;
    margin-top: 15px;
}
.labels{
    font-size: 16px;
    margin-top: 5px;
}
.slider{
    position: relative;
    z-index: 300;
    width: 200px
}